.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--bs-light);
    font-family: var(--heading-font);

}

.header__title {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-weight: 300;

}

.header__content {
    max-width: 40ch;
    text-align: center;
    opacity: 0.6;
    line-height: 1.6;
}

.collections {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-card {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}


.image-wrapper {
    overflow: hidden;
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-wrapper img {
    width: 100%;
    display: block;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-wrapper:hover img {
    transform: scale(1.1);
}
.image-wrapper:hover{
    transform: scale(0.95);
}



.collection-card__title {
    font-size: 1.7rem;

}

.collection-card__title a {
    text-decoration: none;
    font-weight: 200;
    color: #1c1c1c;

}

.collection-card__desc {
    opacity: .5;
    line-height: 1.5;
}

.collection-card__link {
    text-decoration: underline;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 2px;
}