* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  text-transform: uppercase;
  background-color: var(--bs-light);
}

.nav_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--heading-font);
}

.nav_logo .nav_logo_content {
  font-size: 2.5rem;
  font-weight: 550;
}

.replace_nav_links {
  display: none;
  justify-content: center;
  align-items: center;
}

.replace_nav_links i {
  padding-inline: 1rem;
  padding-block: 0.6rem;
  border: 2px solid var(--bs-gray);
  border-radius: 0.5rem;
  width: auto;
  font-size: 1.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.nav_links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
  height: 100%;
  font-family: var(--bs-body-font-family);
  font-size: 1.1rem;
}

.nav_links ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  opacity: 0.5;

}

.nav_links ul li.active {
  opacity: 1;
}

.nav_links ul li a {
  text-decoration: none;
  color: var(--bs-black);
}

.nav_links ul li i {
  font-size: 0.6rem;
  position: relative;
  

}

.popup_links {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition: 
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;
  
  position: absolute;
  top: 4.5rem;
  background-color: tomato;
  padding: 0.5rem;
  
}

.popup_links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav_links ul li:hover {
  opacity: 1;

}

.nav_links ul li i:hover+.popup_links {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);

}

.nav_tools {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  font-size: 1.1rem;
}

.nav_tools_wishlist,
.nav_tools_cart,
.nav_tools_search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1240px) {}

@media (max-width: 990px) {
  .nav_links {
    display: none;
  }

  .replace_nav_links {
    display: flex;
  }

}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
}